@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

menu {
  width: 100%;
  margin-left: -500px;
  padding-left: 500px;
  margin-right: -500px;
  padding-right: 500px;
  margin-top: -19px;
  height: 100px;
  background: #25292C;
  border-bottom: 30px solid #1E1F1F;
}

menu a {
  text-decoration: none !important;
}
 
#ip {
  float: right;
  font-family: Open Sans Condensed;
  background: #63CBE4;
  color: #fff;
  padding:10px;
  margin-left: -20px;
  margin-top: -115px;
  border-radius: 5px;
  z-index: 1000000000;
}
menu li {
  color:#ffffff !important;
  font-family: Open Sans Condensed;
  font-weight: 700;
  list-style: none;
  float: left;
  font-size: 24px;
  height: 58px;
  padding: 22px;
  margin-top: 10px;
  transition: all 0.2s linear;
  -mos-transition: all 0.2s linear;
  -o-transition: all 0.1s linear;
}

menu img {
  float: left;
  width: 350px;
  margin-top: -25px;
  padding: 40px;
}

menu li a{
  color:#ffffff !important;
    transition: all 0.4s linear;
  -mos-transition: all 0.4s linear;
}

menu li:hover {
  background: rgba(0, 0, 0, 0.19);
  margin-top: -2px;
}
